
.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10em auto;
}

.box {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 200px;
}